$red-one-highlight: #dc505c;
$red-one-shadow: #ca424e;

$red-two-highlight: #e26852;
$red-two-shadow: #da5240;

$yellow-one-highlight: #f8ca5b;
$yellow-one-shadow: #ecb649;

$green-one-highlight: #98c868;
$green-one-shadow: #82b84f;

$green-two-highlight: #58ba9d;
$green-two-shadow: #35b290;

$blue-one-highlight: #52bbdc;
$blue-one-shadow: #3fa5ca;

$blue-two-highlight: #618dbd;
$blue-two-shadow: #507cb2;

$purple-one-highlight: #9c8bb5;
$purple-one-shadow: #8573a7;

$pink-one-highlight: #de82ab;
$pink-one-shadow: #c9689d;

$gray-one-highlight: #f5f7fa;
$gray-one-shadow: #e6e9ed;

$gray-two-highlight: #ccd1d9;
$gray-two-shadow: #aab2bd;

$gray-three-highlight: #656d78;
$gray-three-shadow: #434a54;


$white: #ffffff;

$brand-primary: #1298d5;

$facebook-color: #3b5998;

// Buttons
// -------------------------

$btn-facebook-color:              #fff;
$btn-facebook-bg:                 $facebook-color;
$btn-facebook-border:             #ccc;