.page-photo {
	background-color: $photo-page-bg;
	width: 100%;
	height: 100%;
}

.row-photo {
	display: flex;
	align-items: center;
	justify-content: center;
}

.col-photo {
	text-align: center;
	display: block;
}

.col-nav {
	padding-left: 0px;
	padding-right: 0px;
	height: calc(100vh - 111px);
	display: flex;
	align-items: center;
}

.full-image {
	max-width: 100%;
	max-height: 70%;
	max-height: 70vh;
	max-height: calc(100vh - 111px);
	height: auto;
	width: auto;
}

.btn-nav {
	font-size: 30px;
	color: #333;
}

.btn-footer {
	font-size: 10px;
	color: #333;
}



.col-nav:hover {

	.btn-nav {
		font-size: 30px;
		color: #337ab7;
	}

}


.bordered {
	border: 1px solid #ccc;
}
