.section {
	padding-top: 80px;
	padding-bottom: 80px;
}

.section:nth-child(odd) {
    background: $white;
}

.section:nth-child(even) {
    background: $gray-one-shadow;
}

.first-section {
  padding-top: 117px;
}

@media (max-width: $screen-xs-max) {
	.section {
		 padding-top: 30px;
		 padding-bottom: 30px;
	}
}
